# ____________                ________            _____________             _____     ________
#   ____  _/_  /____________ ______  __ \_________________  /__(_)___________ __  /________  __ \_____ ___________________________
#   __  / _  __/  _ \_  __ `__ \_  /_/ /_  ___/  _ \  __  /__  /_  ___/  __ `/  __/  _ \_  /_/ /  __ `/_  ___/_  ___/  _ \_  ___/
#   __/ /  / /_ /  __/  / / / / /  ____/_  /   /  __/ /_/ / _  / / /__ / /_/ // /_ /  __/  ____// /_/ /_  /   _(__  )/  __/  /
#   /___/  \__/ \___//_/ /_/ /_//_/     /_/    \___/\__,_/  /_/  \___/ \__,_/ \__/ \___//_/     \__,_/ /_/    /____/ \___//_/
#
# ItemPredicateParser - Developed by BlvckBytes <blvckbytes@gmail.com>
# Repository - https://github.com/BlvckBytes/ItemPredicateParser
# ASCII-Art - https://patorjk.com/software/taag/#p=display&f=Speed
#
# PRE-PROCESSOR-INPUT en_us.txt

# - predicate_representation: String
expandedPreview$: '@{PREVIEW-EXPANDED}'
maxCompletionsCount: 30
# - excess_count: Int
maxCompletionsExceeded$: '@{PREVIEW-MAX-COMPLETIONS-EXCEEDED}'
validPredicatePart: ''
failedPredicatePart: ''
# highlighted_input: String
parseConflicts$:
  EXPECTED_CORRECT_INTEGER: '@{PREVIEW-CONFLICT-EXPECTED-CORRECT-INTEGER}'
  TOO_MANY_TIME_NOTATION_BLOCKS: '@{PREVIEW-CONFLICT-TOO-MANY-TIME-NOTATION-BLOCKS}'
  EXPECTED_FOLLOWING_INTEGER: '@{PREVIEW-CONFLICT-EXPECTED-FOLLOWING-INTEGER}'
  EXPECTED_SEARCH_PATTERN: '@{PREVIEW-CONFLICT-EXPECTED-SEARCH-PATTERN}'
  NO_SEARCH_MATCH: '@{PREVIEW-CONFLICT-NO-SEARCH-MATCH}'
  MISSING_STRING_TERMINATION: '@{PREVIEW-CONFLICT-MISSING-STRING-TERMINATION}'
  MULTIPLE_SEARCH_PATTERN_WILDCARDS: '@{PREVIEW-CONFLICT-MULTIPLE-SEARCH-PATTERN-WILDCARDS}'
  ONLY_SEARCH_PATTERN_WILDCARD: '@{PREVIEW-CONFLICT-ONLY-SEARCH-PATTERN-WILDCARD}'
  DOES_NOT_ACCEPT_TIME_NOTATION: '@{PREVIEW-CONFLICT-DOES-NOT-ACCEPT-TIME-NOTATION}'
  DOES_NOT_ACCEPT_NON_EQUALS_COMPARISON: '@{PREVIEW-CONFLICT-DOES-NOT-ACCEPT-NON-EQUALS-COMPARISON}'
  EXPECTED_EXPRESSION_AFTER_OPERATOR: '@{PREVIEW-CONFLICT-EXPECTED-EXPRESSION-AFTER-OPERATOR}'
  EXPECTED_OPENING_PARENTHESIS: '@{PREVIEW-CONFLICT-EXPECTED-OPENING-PARENTHESIS}'
  EXPECTED_CLOSING_PARENTHESIS: '@{PREVIEW-CONFLICT-EXPECTED-CLOSING-PARENTHESIS}'
  EMPTY_OR_BLANK_QUOTED_STRING: '@{PREVIEW-CONFLICT-EMPTY-OR-BLANK-QUOTED-STRING}'
  EXPECTED_LEFT_HAND_SIDE: '@{PREVIEW-CONFLICT-EXPECTED-LEFT-HAND-SIDE}'

playerMessages:
  commandOnlyForPlayers$: '@{MESSAGE-COMMAND-ONLY-FOR-PLAYERS(prefix=lut["MESSAGE_PREFIX"])}'
  pluginReloadedSuccess$: '@{MESSAGE-PLUGIN-RELOAD(prefix=lut["MESSAGE_PREFIX"])}'
  pluginReloadedError$: '@{MESSAGE-PLUGIN-RELOAD-ERROR(prefix=lut["MESSAGE_PREFIX"])}'
  # - label: String
  # - actions: Collection<String>
  usageIppCommandAction$: |
    action_list = iter_cat(actions, (action) => @{MESSAGE-USAGE-IPP-ACTION-ITEM}, @{MESSAGE-USAGE-IPP-ACTION-SEPARATOR})
    @{MESSAGE-USAGE-IPP-ACTION(prefix=lut["MESSAGE_PREFIX"])}
  # - label: String
  # - action: String
  # - languages: Collection<String>
  usageIppLanguageCommandLanguage$: |
    language_list = iter_cat(languages, (language) => @{MESSAGE-USAGE-IPP-LANGUAGE-LANGUAGE-ITEM}, @{MESSAGE-USAGE-IPP-LANGUAGE-LANGUAGE-SEPARATOR})
    @{MESSAGE-USAGE-IPP-LANGUAGE-LANGUAGE(prefix=lut["MESSAGE_PREFIX"])}
  # - entered_predicate: String
  # - expanded_predicate(matching_prefix: String, failure_prefix: String): String
  predicateTestResult$: |
    colored_predicate = expanded_predicate(@{MESSAGE-TEST-RESULT-MATCH-COLOR-MATCH}, @{MESSAGE-TEST-RESULT-MATCH-COLOR-MISMATCH})
    @{MESSAGE-TEST-RESULT-MATCH(prefix=lut["MESSAGE_PREFIX"])}
  # - exception_message: String
  predicateParseError$: '@{MESSAGE-PREDICATE-PARSE-ERROR(prefix=lut["MESSAGE_PREFIX"])}'
  showingVariables$: '@{MESSAGE-SHOWING-VARIABLES(prefix=lut["MESSAGE_PREFIX"])}'
  unknownVariableName$: '@{MESSAGE-UNKNOWN-VARIABLE-NAME(prefix=lut["MESSAGE_PREFIX"])}'
  variablesTestNoResults$: '@{MESSAGE-VARIABLES-TEST-NO-RESULTS(prefix=lut["MESSAGE_PREFIX"])}'
  variablesTestResults$: |
    name_list = iter_cat(names, (name) => @{MESSAGE-VARIABLES-TEST-RESULTS-RESULT}, @{MESSAGE-VARIABLES-TEST-RESULTS-SEPARATOR})
    @{MESSAGE-VARIABLES-TEST-RESULTS(prefix=lut["MESSAGE_PREFIX"])}
  noItemInMainHand$: '@{MESSAGE-NO-ITEM-IN-MAIN-HAND(prefix=lut["MESSAGE_PREFIX"])}'
  # - language: String
  languageSelected$: '@{MESSAGE-LANGUAGE-SELECTED(prefix=lut["MESSAGE_PREFIX"])}'
  missingPermissionIppCommand$: '@{MESSAGE-MISSING-PERMISSION-COMMAND-IPP(prefix=lut["MESSAGE_PREFIX"])}'

defaultSelectedLanguage: ENGLISH_US

commands:
  itempredicateparser:
    name: itempredicateparser
    aliases:
      - ipp

variables:

variablesServerPort: 8150

# - current_page: Integer
# - number_pages: Integer
# - number_of_rows: Integer
# - last_slot: Integer
variablesDisplay:
  title$: '@{VARIABLES-DISPLAY-TITLE}'
  rows: 6
  maxTokenLineWidth: 35
  paginationSlots$: 'range(0, 44)'
  items:
    # https://github.com/BlvckBytes/BukkitEvaluable#itemstack-section
    previousPage:
      slots$: 'last_slot - 8'
      type: PLAYER_HEAD
      textures$: 'lut["textures"][if current_page > 1 then "ARROW_LEFT" else "ARROW_LEFT_RED"]'
      name$: 'if current_page > 1 then @{PREVIOUS-PAGE-NAME-HAS} else @{PREVIOUS-PAGE-NAME-HAS-NOT}'
      lore$:
        - '" "'
        - '@{ANY-CONTROL-LORE-SPACER}'
        - '@{PREVIOUS-PAGE-LORE-LEFT-CLICK-DESCRIPTION}'
        - '@{PREVIOUS-PAGE-LORE-RIGHT-CLICK-DESCRIPTION}'
        - '@{ANY-CONTROL-LORE-SPACER}'
    # https://github.com/BlvckBytes/BukkitEvaluable#itemstack-section
    nextPage:
      slots$: 'last_slot'
      type: PLAYER_HEAD
      textures$: 'lut["textures"][if current_page < number_pages then "ARROW_RIGHT" else "ARROW_RIGHT_RED"]'
      name$: 'if current_page < number_pages then @{NEXT-PAGE-NAME-HAS} else @{NEXT-PAGE-NAME-HAS-NOT}'
      lore$:
        - '" "'
        - '@{ANY-CONTROL-LORE-SPACER}'
        - '@{NEXT-PAGE-LORE-LEFT-CLICK-DESCRIPTION}'
        - '@{NEXT-PAGE-LORE-RIGHT-CLICK-DESCRIPTION}'
        - '@{ANY-CONTROL-LORE-SPACER}'
    # - icon_type: String
    # - display_name: String
    # - material_token_lines: List<TokenLine> where TokenLine(tokens: List<String> , wraps: Boolean)
    variable:
      type$: 'icon_type'
      name$: '@{VARIABLES-ENTRY-NAME}'
      lore$:
        - '" "'
        - |
          if len(material_token_lines) > 0 then flatten(list_of(
            @{ANY-CONTROL-LORE-SPACER},
            @{VARIABLES-ENTRY-MATERIAL-TITLE},
            " ",
            map(
              material_token_lines,
              (token_line) => iter_cat(
                token_line.tokens,
                (line_token) => (@{VARIABLES-ENTRY-MATERIAL-TOKEN}),
                @{VARIABLES-ENTRY-MATERIAL-SEPARATOR}
              ) & if token_line.wraps then "" else @{VARIABLES-ENTRY-MATERIAL-SEPARATOR}
            )
          )) else null
        - |
          if len(inherited_material_token_lines) > 0 then flatten(list_of(
            @{ANY-CONTROL-LORE-SPACER},
            @{INHERITED-VARIABLES-ENTRY-PARENTS-TITLE},
            " ",
            map(
              parents_token_lines,
              (token_line) => iter_cat(
                token_line.tokens,
                (line_token) => (@{INHERITED-VARIABLES-ENTRY-PARENT-TOKEN}),
                @{INHERITED-VARIABLES-ENTRY-PARENT-SEPARATOR}
              ) & if token_line.wraps then "" else @{INHERITED-VARIABLES-ENTRY-PARENT-SEPARATOR}
            ),
            @{ANY-CONTROL-LORE-SPACER},
            @{INHERITED-VARIABLES-ENTRY-MATERIAL-TITLE},
            " ",
            map(
              inherited_material_token_lines,
              (token_line) => iter_cat(
                token_line.tokens,
                (line_token) => (@{INHERITED-VARIABLES-ENTRY-MATERIAL-TOKEN}),
                @{INHERITED-VARIABLES-ENTRY-MATERIAL-SEPARATOR}
              ) & if token_line.wraps then "" else @{INHERITED-VARIABLES-ENTRY-MATERIAL-SEPARATOR}
            )
          )) else null
        - '@{ANY-CONTROL-LORE-SPACER}'
    filler:
      slots$:
        - 'last_slot - 7'
        - 'last_slot - 6'
        - 'last_slot - 5'
        - 'last_slot - 4'
        - 'last_slot - 3'
        - 'last_slot - 2'
        - 'last_slot - 1'
      type: BLACK_STAINED_GLASS_PANE
      name: " "

# File-global lookup table
lut:
  MESSAGE_PREFIX: '@{MESSAGE-PREFIX}'
  textures:
    ARROW_LEFT: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvODU1MGI3Zjc0ZTllZDc2MzNhYTI3NGVhMzBjYzNkMmU4N2FiYjM2ZDRkMWY0Y2E2MDhjZDQ0NTkwY2NlMGIifX19'
    ARROW_LEFT_RED: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZjg0ZjU5NzEzMWJiZTI1ZGMwNThhZjg4OGNiMjk4MzFmNzk1OTliYzY3Yzk1YzgwMjkyNWNlNGFmYmEzMzJmYyJ9fX0='
    ARROW_RIGHT: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvOTYzMzlmZjJlNTM0MmJhMThiZGM0OGE5OWNjYTY1ZDEyM2NlNzgxZDg3ODI3MmY5ZDk2NGVhZDNiOGFkMzcwIn19fQ=='
    ARROW_RIGHT_RED: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZmNmZTg4NDVhOGQ1ZTYzNWZiODc3MjhjY2M5Mzg5NWQ0MmI0ZmMyZTZhNTNmMWJhNzhjODQ1MjI1ODIyIn19fQ=='
