# ____________                ________            _____________             _____     ________
#   ____  _/_  /____________ ______  __ \_________________  /__(_)___________ __  /________  __ \_____ ___________________________
#   __  / _  __/  _ \_  __ `__ \_  /_/ /_  ___/  _ \  __  /__  /_  ___/  __ `/  __/  _ \_  /_/ /  __ `/_  ___/_  ___/  _ \_  ___/
#   __/ /  / /_ /  __/  / / / / /  ____/_  /   /  __/ /_/ / _  / / /__ / /_/ // /_ /  __/  ____// /_/ /_  /   _(__  )/  __/  /
#   /___/  \__/ \___//_/ /_/ /_//_/     /_/    \___/\__,_/  /_/  \___/ \__,_/ \__/ \___//_/     \__,_/ /_/    /____/ \___//_/
#
# ItemPredicateParser - Developed by BlvckBytes <blvckbytes@gmail.com>
# Repository - https://github.com/BlvckBytes/ItemPredicateParser
# ASCII-Art - https://patorjk.com/software/taag/#p=display&f=Speed

expandedPreview: '<&a>{predicate}'
maxCompletionsCount: 30
# 𱍊 is a really high UTF-16 character, so it should always be sorted last by the client
maxCompletionsExceeded: '𱍊 and {excess_count} more'
matchedPredicatePart: '<&a>{predicate}'
mismatchedPredicatePart: '<&c>{predicate}'
malformedPredicatePart: '<&4>{predicate}'
remainingPredicatePart: '<&c>{predicate}'
parseConflicts:
  EXPECTED_CORRECT_INTEGER: '<&c>Expected a valid integer: {predicate}'
  TOO_MANY_TIME_NOTATION_BLOCKS: '<&c>More than 3 colon-separated blocks: {predicate}'
  EXPECTED_FOLLOWING_INTEGER: '<&c>This predicate requires an integer argument: {predicate}'
  EXPECTED_SEARCH_PATTERN: '<&c>Expected a name to search for: {predicate}'
  NO_SEARCH_MATCH: '<&c>Found no matches: {predicate}'
  MISSING_STRING_TERMINATION: '<&c>String has not been terminated: {predicate}'
  MULTIPLE_SEARCH_PATTERN_WILDCARDS: '<&c>Used multiple ? within one argument: {predicate}'
  ONLY_SEARCH_PATTERN_WILDCARD: '<&c>Cannot search just for a wildcard: {predicate}'
  DOES_NOT_ACCEPT_TIME_NOTATION: '<&c>This argument does not accept time notation: {predicate}'
  DOES_NOT_ACCEPT_NON_EQUALS_COMPARISON: '<&c>This argument does not accept comparison notation: {predicate}'
  EXPECTED_EXPRESSION_AFTER_OPERATOR: '<&c>This operator has to to be followed up by another expression: {predicate}'
  EXPECTED_OPENING_PARENTHESIS: '<&c>Expected a opening parenthesis: {predicate}'
  EXPECTED_CLOSING_PARENTHESIS: '<&c>Expected a closing parenthesis: {predicate}'
  EMPTY_OR_BLANK_QUOTED_STRING: '<&c>Strings are not allowed to be blank: {predicate}'
  EXPECTED_LEFT_HAND_SIDE: '<&c>Expected a left-hand-side expression: {predicate}'

playerMessages:
  commandOnlyForPlayers: '{lut.prefix} <&c>This command is only available to players.'
  pluginReloadedSuccess: '{lut.prefix} <&7>The plugin has been <&a>reloaded successfully<&7>.'
  pluginReloadedError: '{lut.prefix} <&c>An error occurred while trying to reload the plugin. Check the console!'
  usageIppCommandAction: '{lut.prefix} <&7>Usage: /{label} <&7>\<<&e *for-action="actions" *for-separator={<&7>,<space/>}>{action}</&e><&7>>'
  usageIppLanguage: '{lut.prefix} <&7>Usage: /{label} {action} <&7>\<<&e *for-language="languages" *for-separator={<&7>,<space/>}>{language}</&e><&7>>'
  predicateTestResult: '{lut.prefix} <&7>Result: {predicate}'
  predicateParseError: '{lut.prefix} <&c>Malformed predicate: {exception}'
  showingVariables: '{lut.prefix} <&7>Displaying the overview with <&a>{count} variables<&7>.'
  unknownVariableName: '{lut.prefix} <&c>There''s no variable called <&4>{name}<&c>!'
  variablesTestNoResults: '{lut.prefix} <&c>The item is <&4>not <&c>covered by any variable!'
  variablesTestResults: '{lut.prefix} <&7>The item is covered <&a>{count}x <&7>by the variables: <&a *for-name="names" *for-separator={<&7>,<space/>}>{name}</&a><&7>.'
  noItemInMainHand: '{lut.prefix} <&c>You''re not holding an item in your <&4>main hand<&c>!'
  languageSelected: '{lut.prefix} <&7>The language <&a>{language} <&7>will from now on be used with all IPP(-related) commands, if they do not ask for an explicit language themselves.'
  missingPermissionIppCommand: '{lut.prefix} <&c>You don''t have the permission to use the ipp command.'

defaultSelectedLanguage: ENGLISH_US

commands:
  itempredicateparser:
    name: itempredicateparser
    aliases:
      - ipp

variables:

variablesServerPort: -1

variablesDisplay:
  title: '<&8>Variables <&e>{current_page}<&8>/<&e>{number_of_pages}'
  rows: 6
  paginationSlots: '0..44'
  items:
    previousPage:
      slots: 'last_slot - 8'
      type: PLAYER_HEAD
      textures: '{lut["textures"][current_page > 1 then "ARROW_LEFT" else "ARROW_LEFT_RED"]}'
      name: |
        <reset>
          <container *if="current_page > 1">
            <&8>» <&6>Previous Page <&8>«
          </container>
          <container *else>
            <&8>» <&c>No Previous Page <&8>«
          </container>
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Left-Click <&7>Navigate to previous page<br/>
          <&8>➥ <&e>Right-Click <&7>Jump to very first page<br/>
          {lut.spacer}
    nextPage:
      slots: 'last_slot'
      type: PLAYER_HEAD
      textures: '{lut["textures"][current_page < number_of_pages then "ARROW_RIGHT" else "ARROW_RIGHT_RED"]}'
      name: |
        <reset>
          <container *if="current_page < number_of_pages">
            <&8>» <&6>Next Page <&8>«
          </container>
          <container *else>
            <&8>» <&c>No Next Page <&8>«
          </container>
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Left-Click <&7>Navigate to next page<br/>
          <&8>➥ <&e>Right-Click <&7>Jump to very last page<br/>
          {lut.spacer}
    variable:
      type: '{icon_type}'
      name: |
        <reset>
          <&8>» <&6>{name} <&8>«
      lore: |
        <reset>
          <br/>
          <container *if="len(materials) > 0">
            {lut.spacer}<br/>
            <&7>➥ Materials:<br/>
            <br/>
            <word-wrap [values]="materials" width=35 separator={<&e>,<space/>} renderer={<&6>{token}} /><br/>
          </container>
          <container *if="len(inherited_materials) > 0">
            {lut.spacer}<br/>
            <&7>➥ Inherits from:<br/>
            <br/>
            <word-wrap [values]="parents" width=35 separator={<&d>,<space/>} renderer={<&5>{token}} /><br/>
            {lut.spacer}<br/>
            <&7>➥ Inherited materials:<br/>
            <br/>
            <word-wrap [values]="inherited_materials" width=35 separator={<&d>,<space/>} renderer={<&5>{token}} /><br/>
          </container>
          {lut.spacer}
    filler:
      slots: '(last_slot - 7)..last_slot'
      type: BLACK_STAINED_GLASS_PANE
      name: ' '

cLut:
  prefix: '<&7>[<&6>IPP<&7>]'
  spacer: '<&8><&m>{" " ** 45}'

sLut:
  textures:
    ARROW_LEFT: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvODU1MGI3Zjc0ZTllZDc2MzNhYTI3NGVhMzBjYzNkMmU4N2FiYjM2ZDRkMWY0Y2E2MDhjZDQ0NTkwY2NlMGIifX19'
    ARROW_LEFT_RED: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZjg0ZjU5NzEzMWJiZTI1ZGMwNThhZjg4OGNiMjk4MzFmNzk1OTliYzY3Yzk1YzgwMjkyNWNlNGFmYmEzMzJmYyJ9fX0='
    ARROW_RIGHT: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvOTYzMzlmZjJlNTM0MmJhMThiZGM0OGE5OWNjYTY1ZDEyM2NlNzgxZDg3ODI3MmY5ZDk2NGVhZDNiOGFkMzcwIn19fQ=='
    ARROW_RIGHT_RED: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZmNmZTg4NDVhOGQ1ZTYzNWZiODc3MjhjY2M5Mzg5NWQ0MmI0ZmMyZTZhNTNmMWJhNzhjODQ1MjI1ODIyIn19fQ=='
