# ____________                ________            _____________             _____     ________
#   ____  _/_  /____________ ______  __ \_________________  /__(_)___________ __  /________  __ \_____ ___________________________
#   __  / _  __/  _ \_  __ `__ \_  /_/ /_  ___/  _ \  __  /__  /_  ___/  __ `/  __/  _ \_  /_/ /  __ `/_  ___/_  ___/  _ \_  ___/
#   __/ /  / /_ /  __/  / / / / /  ____/_  /   /  __/ /_/ / _  / / /__ / /_/ // /_ /  __/  ____// /_/ /_  /   _(__  )/  __/  /
#   /___/  \__/ \___//_/ /_/ /_//_/     /_/    \___/\__,_/  /_/  \___/ \__,_/ \__/ \___//_/     \__,_/ /_/    /____/ \___//_/
#
# ItemPredicateParser - Developed by BlvckBytes <blvckbytes@gmail.com>
# Repository - https://github.com/BlvckBytes/ItemPredicateParser
# ASCII-Art - https://patorjk.com/software/taag/#p=display&f=Speed

expandedPreview: '<&a>{predicate}'
maxCompletionsCount: 30
# 𱍊 is a really high UTF-16 character, so it should always be sorted last by the client
maxCompletionsExceeded: '𱍊 und {excess_count} weitere'
matchedPredicatePart: '<&a>{predicate}'
mismatchedPredicatePart: '<&c>{predicate}'
malformedPredicatePart: '<&4>{predicate}'
remainingPredicatePart: '<&c>{predicate}'
parseConflicts:
  EXPECTED_CORRECT_INTEGER: '<&c>Valide Ganzzahl erwartet: {predicate}'
  TOO_MANY_TIME_NOTATION_BLOCKS: '<&c>Mehr als drei Doppelpunkt-getrennte Blöcke: {predicate}'
  EXPECTED_FOLLOWING_INTEGER: '<&c>Dieses Prädikat benötigt ein ganzzahliges Argument: {predicate}'
  EXPECTED_SEARCH_PATTERN: '<&c>Suchbegriff erwartet: {predicate}'
  NO_SEARCH_MATCH: '<&c>Keine Übereinstimmungen gefunden: {predicate}'
  MISSING_STRING_TERMINATION: '<&c>Unterminierte Zeichenkette: {predicate}'
  MULTIPLE_SEARCH_PATTERN_WILDCARDS: '<&c>Mehrfache Benutzung von ? im selben Suchbegriff: {predicate}'
  ONLY_SEARCH_PATTERN_WILDCARD: '<&c>Kann nicht nur nach einem Platzhalter suchen: {predicate}'
  DOES_NOT_ACCEPT_TIME_NOTATION: '<&c>Dieses Argument akzeptiert keine Zeitnotation: {predicate}'
  DOES_NOT_ACCEPT_NON_EQUALS_COMPARISON: '<&c>Dieses Argument akzeptiert keine Vergleichsnotation: {predicate}'
  EXPECTED_EXPRESSION_AFTER_OPERATOR: '<&c>Dieser Operator erwartet einen nachfolgenden Ausdruck: {predicate}'
  EXPECTED_OPENING_PARENTHESIS: '<&c>Öffnende Klammer erwartet: {predicate}'
  EXPECTED_CLOSING_PARENTHESIS: '<&c>Schließende Klammer erwartet: {predicate}'
  EMPTY_OR_BLANK_QUOTED_STRING: '<&c>Zeichenketten dürfen nicht leer sein: {predicate}'
  EXPECTED_LEFT_HAND_SIDE: '<&c>Vorangestellter Ausdruck erwartet: {predicate}'
  LABEL_CANNOT_CONTAIN_HASHTAG: '<&c>Label-Namen dürfen keine Hashtags beinhalten: {predicate}'

playerMessages:
  commandOnlyForPlayers: '{lut.prefix} <&c>Dieser Befehl steht nur Spielern zur Verfügung.'
  pluginReloadedSuccess: '{lut.prefix} <&7>Das Plugin wurde <&a>erfolgreich neu geladen<&7>.'
  pluginReloadedError: '{lut.prefix} <&c>Ein Fehler trat während des Ladeprozesses auf. Überprüfe die Konsole!'
  usageIppCommandAction: '{lut.prefix} <&7>Benutzung: /{label} <&7>\<<&e *for-action="actions" *for-separator={<&7>,<space/>}>{action}</&e><&7>>'
  usageIppLanguage: '{lut.prefix} <&7>Benutzung: /{label} {action} <&7>\<<&e *for-language="languages" *for-separator={<&7>,<space/>}>{language}</&e><&7>>'
  predicateTestResult: '{lut.prefix} <&7>Ergebnis: {predicate}'
  predicateParseError: '{lut.prefix} <&c>Fehlerhaftes Prädikat: {exception}'
  showingVariables: '{lut.prefix} <&7>Öffne die Übersicht mit <&a>{count} Variablen<&7>.'
  unknownVariableName: '{lut.prefix} <&c>Es existiert keine Variable mit dem Namen <&4>{name}<&c>!'
  variablesTestNoResults: '{lut.prefix} <&c>Das Item kommt in <&4>keiner <&c>Variable vor!'
  variablesTestResults: '{lut.prefix} <&7>Das Item kommt <&a>{count}x <&7>in den folgenden Variablen vor: <&a *for-name="names" *for-separator={<&7>,<space/>}>{name}</&a><&7>.'
  noItemInMainHand: '{lut.prefix} <&c>Du hältst kein Item in deiner <&4>Haupthand<&c>!'
  languageSelected: '{lut.prefix} <&7>Die Sprache <&a>{language} <&7>wird von nun an für alle weiteren IPP(-verwandten) Befehle, die keine explizite Sprachauswahl fordern, benutzt.'
  missingPermissionIppCommand: '{lut.prefix} <&c>Dir fehlen die nötigen Rechte, um diesen Befehl benutzen zu können.'
  # TODO: Translate these messages
  accessDeniedForBlock: '{lut.prefix} <&c>You <&4>lack access <&c>to the block at <&4>{x} {y} {z}<&c>!'
  blockDoesNotSupportPredicates: '{lut.prefix} <&c>The block at <&4>{x} {y} {z} <&c>does <&4>not support <&c>predicates!'
  blockHasPredicateError: '{lut.prefix} <&c>The block at <&4>{x} {y} {z} <&c>has encountered a predicate-error: <&4>{predicate_error}'
  blockHasNoPredicateSet: '{lut.prefix} <&c>The block at <&4>{x} {y} {z} <&c>has <&4>no <&c>predicate set!'
  getPredicateInitialized: '{lut.prefix} <&7>Interact with a block to <&a>read <&7>its assigned predicate; use <&a>sneak + left-click <&7>to enter multi-mode.'
  getPredicateFromBlock: |
    {lut.prefix} <&7>The predicate at <&a>{x} {y} {z} <&7>is<space/>
    <hover-text value={<&a>Click to suggest a set-command}>
      <suggest-command value=`{set_command}`>
        <&a><u>{predicate}
    </hover-text>
    <&7>.
  setPredicateInitialized: '{lut.prefix} <&7>Interact with a block to <&a>set <&7>its assigned predicate to <&a>{predicate}<&7>; use <&a>sneak + left-click <&7>to enter multi-mode.'
  setPredicateOnBlock: |
    {lut.prefix} <&7>The predicate<space/>
    <hover-text value={<&a>Click to suggest a set-command}>
      <suggest-command value=`{set_command}`>
        <&a><u>{predicate}
    </hover-text>
    <&7> has been <&a>set <&7>at <&a>{x} {y} {z}<&7>.
  setPredicateMissingLanguage: '{lut.prefix} <&c>Please provide the desired language as the next command-parameter!'
  setPredicateUnknownLanguage: |
    {lut.prefix} <&c>The input of <&4>{input} <&c>does not resemble a known language; choose one of:<space/>
    <&4 *for-language="languages" *for-separator={,<space/>}>{language}
  setPredicateEmpty: '{lut.prefix} <&c>Please provide a valid, non-empty predicate!'
  commandPipePredicateRemoveInit: '{lut.prefix} <&7>Interagiere mit einem <&a>Kolben, einem Behälter oder einem Schild<&7>, um dessen Prädikat zu <&a>entfernen<&7>; nutze <&a>Sneak + Linksklick<&7>, um den <&a>Mehrfachmodus <&7>zu aktivieren.'
  removePredicateInitialized: '{lut.prefix} <&7>Interact with a block to <&a>remove <&7>its assigned predicate; use <&a>sneak + left-click <&7>to enter multi-mode.'
  removePredicateFromBlock: |
    {lut.prefix} <&7>The predicate<space/>
    <hover-text value={<&a>Click to suggest a set-command}>
      <suggest-command value=`{set_command}`>
        <&a><u>{predicate}
    </hover-text>
    <&7> has been <&a>removed <&7>at <&a>{x} {y} {z}<&7>.
  predicateInteractionExpired: '{lut.prefix} <&c>Your pending predicate-interaction expired due to <&4>{expiry_seconds}s of inactivity<&c>.'
  predicateInteractionMultiModeActionBarSignal: '<&a><&l>multi-mode active; quit: sneak + left-click'
  predicateInteractionMultiModeEntered: '{lut.prefix} <&7>You have <&a>entered <&7>multi-mode and may now dispatch your predicate-interaction multiple times by interacting; use <&a>sneak + left-click <&7>to exit this mode.'
  predicateInteractionMultiModeExited: '{lut.prefix} <&7>You have <&a>exited <&7>multi-mode.'

defaultSelectedLanguage: GERMAN_DE

commands:
  itempredicateparser:
    predicateInteractionExpirySeconds: 15
    name: itempredicateparser
    aliases:
      - ipp

variables:

variablesServerPort: -1

variablesDisplay:
  title: '<&8>Variablen <&e>{current_page}<&8>/<&e>{number_of_pages}'
  rows: 6
  paginationSlots: '0..44'
  items:
    previousPage:
      slots: 'last_slot - 8'
      type: PLAYER_HEAD
      textures: '{lut["textures"][current_page > 1 then "ARROW_LEFT" else "ARROW_LEFT_RED"]}'
      name: |
        <reset>
          <container *if="current_page > 1">
            <&8>» <&6>Vorherige Seite <&8>«
          </container>
          <container *else>
            <&8>» <&c>Keine vorherige Seite <&8>«
          </container>
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Linksklick <&7>Navigiere zur vorherigen Seite<br/>
          <&8>➥ <&e>Rechtsklick <&7>Springe zur ersten Seite<br/>
          {lut.spacer}
    nextPage:
      slots: 'last_slot'
      type: PLAYER_HEAD
      textures: '{lut["textures"][current_page < number_of_pages then "ARROW_RIGHT" else "ARROW_RIGHT_RED"]}'
      name: |
        <reset>
          <container *if="current_page < number_of_pages">
            <&8>» <&6>Nächste Seite <&8>«
          </container>
          <container *else>
            <&8>» <&c>Keine nächste Seite <&8>«
          </container>
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Linksklick <&7>Navigiere zur nächsten Seite<br/>
          <&8>➥ <&e>Rechtsklick <&7>Springe zur letzten Seite<br/>
          {lut.spacer}
    variable:
      type: '{icon_type}'
      name: |
        <reset>
          <&8>» <&6>{name} <&8>«
      lore: |
        <reset>
          <br/>
          <container *if="len(materials) > 0">
            {lut.spacer}<br/>
            <&7>➥ Materialien:<br/>
            <br/>
            <&6><word-wrap [@value]="materials" width=35 value-separator={<&e>,<space/>} /><br/>
          </container>
          <container *if="len(inherited_materials) > 0">
            {lut.spacer}<br/>
            <&7>➥ Erbt von:<br/>
            <br/>
            <&5><word-wrap [@value]="parents" width=35 value-separator={<&d>,<space/>} /><br/>
            <container *if="len(blocked_materials) > 0">
              {lut.spacer}<br/>
              <&7>➥ Nicht vererbt:<br/>
              <br/>
              <&4><word-wrap [@value]="blocked_materials" width=35 value-separator={<&c>,<space/>} /><br/>
            </container>
            {lut.spacer}<br/>
            <&7>➥ Geerbte Materialien:<br/>
            <br/>
            <&5><word-wrap [@value]="inherited_materials" width=35 value-separator={<&d>,<space/>} /><br/>
          </container>
          {lut.spacer}
    filler:
      slots: '(last_slot - 7)..last_slot'
      type: BLACK_STAINED_GLASS_PANE
      name: ' '

cLut:
  prefix: '<&7>[<&6>IPP<&7>]'
  spacer: '<&8><&m>{" " ** 45}'

sLut:
  textures:
    ARROW_LEFT: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvODU1MGI3Zjc0ZTllZDc2MzNhYTI3NGVhMzBjYzNkMmU4N2FiYjM2ZDRkMWY0Y2E2MDhjZDQ0NTkwY2NlMGIifX19'
    ARROW_LEFT_RED: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZjg0ZjU5NzEzMWJiZTI1ZGMwNThhZjg4OGNiMjk4MzFmNzk1OTliYzY3Yzk1YzgwMjkyNWNlNGFmYmEzMzJmYyJ9fX0='
    ARROW_RIGHT: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvOTYzMzlmZjJlNTM0MmJhMThiZGM0OGE5OWNjYTY1ZDEyM2NlNzgxZDg3ODI3MmY5ZDk2NGVhZDNiOGFkMzcwIn19fQ=='
    ARROW_RIGHT_RED: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZmNmZTg4NDVhOGQ1ZTYzNWZiODc3MjhjY2M5Mzg5NWQ0MmI0ZmMyZTZhNTNmMWJhNzhjODQ1MjI1ODIyIn19fQ=='
