Search through items based on the following properties:
- Free text ("...", ignoring control sequences)
  - Display Name
  - Lore Lines
  - Written Book Contents, Author, Title
  - Skull Owner Name
- Suggested text (replace " " with "-")
  - Material: <name>
  - Potion Effects: <name> [level] [duration_ticks]
  - Enchantments: <name> [level]
- Deterioration/Abnutzung [percentage_min] [percentage_max]

Numeric arguments are optional and if omitted, act as a wildcard.